<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <style>
      {% include 'critical.css' %}
    </style>
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    {% include 'components/nav.liquid' %}
    <main class="page">
      {% block content %}
      {% endblock content %}
    </main>
    <script src="/app.js"></script>
  </body>
</html>

