---
layout: layout
---

<div>
  <header class="home-header">
    <img class="home-header__photo" src="{{ home.photo }}" alt="{{ home.title }}" />
    <h1 class="home-header__title">{{ home.title }}</h1>
  </header>
  <div class="home-intro">
    <div class="home-intro__text">{{ home.intro | markdown | safe }}</div>
  </div>
</div>
